<div>
    <table>
         <caption>Customer Order List</caption>
         <h3>Customer Id : {{customerid}}</h3>
         <h3>Customer Name: {{customername}}</h3> 
        <tr>
            <th>Order Id</th>
            <th>Order Date</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        {{#each data}}
          <tr>
            <td>{{this.orderid}}</td>
            <td>{{this.date}}</td>
            <td> <a href="/home/customer/order/edit/{{@root.customerid}}/{{this.orderid}}">Edit</a></td>
            <td> <a href="/home/customer/order/delete/{{@root.customerid}}/{{this.orderid}}">Delete</a></td>
          </tr>
        {{/each}}
    </table>
</div>