<div>
  <form method="post" action="delete">
    <table class="table table-condensed">
      <tbody>
       <h1>Add a new product</h1>
         <input type="hidden" name="id" value="{{data.id}}">
       <tr>
         <th>SKU: </th>
         <td>{{data.sku}}</td>
       </tr>
       <tr>
         <th>Name: </th>
         <td>{{data.name}}</td>
       </tr>
        <tr>
         <th>Description: </th>
         <td>{{data.description}}</td>
        </tr>
        <tr>
         <th>Price: </th>
         <td>{{data.price}}</td>
        </tr>
         <tr>
         <th>Quantity: </th>
         <td>{{data.quantity}}</td>
        </tr>
         <tr>
         <th>Type: </th>
         <td>{{data.type}}</td>
        </tr>
         <tr>
         <th>Image: </th>
         <td>{{data.image}}</td>
        </tr>
       
       </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Delete" 
              class="btn btn-success">
           <input type="button" value="Cancel" 
              class="btn btn-danger" onclick="cancelAction()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>