<div>
  <form method="post" action="add">
    <table>
      <tbody>
       <h3>Customer Id : {{userid}}</h3>
       <h3>Order Id : {{orderid}}</h3>
       <h3>Order Date : {{orderdate}}</h3>
       <caption>Edit an item</caption>

       <input type="hidden" name="customerId" value="{{userid}}"> 
       <input type="hidden" name="orderId" value="{{orderid}}"> 
       <input type="hidden" name="orderDate" value="{{orderdate}}"> 
       <tr>
         <th>Item Id: </th>
         <td><input type="text" name="itemId" size="40" 
                  value="{{itemid}}"></td>
       </tr>
       <tr>
         <th>SKU: </th>
         <td><input type="text" name="sku" size="40" 
                  value="{{item.product.sku}}"></td>
       </tr>
       <tr>
         <th>Name: </th>
         <td><input type="text" name="name" size="40" 
                  value="{{item.product.name}}"></td>
       </tr>
        <tr>
         <th>Description: </th>
         <td><input type="text" name="description" size="40" 
                  value="{{item.product.description}}"></td>
        </tr>
        <tr>
         <th>Price: </th>
         <td><input type="text" name="price" size="40" 
                  value="{{item.product.price}}"></td>
        </tr>
         <tr>
         <th>Quantity: </th>
         <td><input type="text" name="quantity" size="40" 
                  value="{{item.quantity}}"></td>
        </tr>
         <tr>
         <th>Type: </th>
         <td><input type="text" name="type" size="40" 
                  value="{{item.product.type}}"></td>
        </tr>
         <tr>
         <th>Image: </th>
         <td><input type="text" name="image" size="40" 
                  value="{{item.product.image}}"></td>
        </tr>
       
       </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
           <input type="submit" value="Save" 
              class="btn btn-success">
           <input type="button" value="Cancel" 
              class="btn btn-danger" onclick="cancelAction()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>