<div>
    <table>
         <caption>Order Item List</caption>
         <h3>Order Id : {{orderid}}</h3>
         <h3>Order Date: {{orderdate}}</h3> 
         <h3>Customer Id: {{userid}}</h3> 
        <tr>
            <th>Item Id</th>
            <th>Item Sku</th>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Item Price</th>
            <th>Item Quantity</th>
            <th>Item Type</th>
            <th>Item Image</th>
            <th>Action</th>
            <th>Action</th>
        </tr>
        </tr>
        {{#each items}}
          <tr>
            <td>{{this.product._id}}</td>
            <td>{{this.product.sku}}</td>
            <td>{{this.product.name}}</td>
            <td>{{this.product.description}}</td>
            <td>{{this.product.price}}</td>
            <td>{{this.product.quantity}}</td>
            <td>{{this.product.type}}</td>
            <td>{{this.product.image}}</td>
            <td> <a href="/home/customer/order/item/edit/{{@root.userid}}/{{@root.orderid}}/{{this.product._id}}">Edit</a></td>
            <td> <a href="/home/customer/order/item/delete/{{this.product._id}}">Delete</a></td>
          </tr>
        {{/each}}
    </table>
</div>