<div class="CartContainer">
        <div class="Header">
            <h3 class="Heading">Order Id : {{orderId}}   Order Date :{{}} </h3>
        </div>
        {{#each items}}
            <div class="Cart-Items">
                <div class="image-box">
                    <img src="/images/{{this.product.image}}" style="height:40px" />
                </div>
                <div class="about">
                    <h2 class="title">{{this.product.name}}</h2>
                    <h3 class="subtitle">{{this.product.description}}</h3>
                </div>
                <div class="counter">
                    <div class="btn">+</div>
                    <div class="count">{{this.quantity}}</div>
                    <div class="btn">-</div>
                </div>
                <div class="about">
                    <div class="title">Price : ${{convertToDecimal this.product.price}}</div>
                </div>
                <div class="prices">
                    <div class="amount">${{convertToDecimal this.total}}</div>
                    <div class="remove"></div>
                </div>
            </div>
        {{/each}}
      <hr> 
       <div class="checkout">
      <div class="total">
          <div class="total">
          <div>
              <div class="Subtotal">Total : </div>
          </div>
          <div>
               <div class="total-amount">${{convertToDecimal total}}</div>
          </div>
      </div>
      </div>
    </div>
   </div>
   </div>